body {
    font-family: Arial, sans-serif;
    background-color: #008D7C; /* #E8ADA Rose */
}

.btn {
    border: solid black;
}

.aisle {
    margin-top: 1px;
    margin-bottom: 5px;
}

h1 {
    margin-top: 1px;
    margin-bottom: 20px;
}

div#color0 {
    background: #F4FF81;
    /*color: white; /* */
}
/* */
/* div#color:nth-child(odd) { */
div#color1 {
    /* background: white; /* */
    background: lightgreen;
    color: black;
}

color0 {
    background #FD7E14;
    /*color: white; /* */
}
/* */
/* div#color:nth-child(odd) { */
color1 {
    /* background: white; /* */
    background: #FFC107;
    color: black;
}

div#brim {
    broder: ridge;
}
